body {
  background-color: #336699;
  color: white;
}
p {
  font-family: Chivo,Lato, "Open Sans", sans-serif;
  font-size: 16;
  margin-right: 20%;
  margin-left: 20%;
}
.divider {
  width: 60%;
  background-color: #003366;
  height: 20px;
  border-radius: 5px;
  margin: auto;
}
.nav {
  background-color: #a6a1ed;
  color: white;
  margin:auto;
  font-family: Georgia, Lora, Merriweather, serif;
}
.navlinks {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  float:left;
  border-style: solid;
  border-color: blue;
  background-color: #a6a1ed;
  color: white;

}
img {
  margin-left:20%;
}
h1 {
  margin-left:20%;
  font-family: Verdana, sans-serif;
}