body {
  background-color: #336699;
  color: white;
}
p {
  font-family: Chivo,Lato, "Open Sans", sans-serif;
  font-size: 16;
  margin-right: 10%;
  margin-left: 10%;
}
.divider {
  width: 100%;
  background-color: #003366;
  height: 50px;
}