body {
  background-color: #b3d0ce;
  color: black;
}
p {
  font-family: Chivo,Lato, "Open Sans", sans-serif;
  font-size: 16;
  margin-right: 20%;
  margin-left: 20%;
  clear:both;
}
.divider {
  width: 60%;
  background-color: #a4ccc9;
  height: 40px;
  border-radius: 5px;
  margin: auto;
}

nav {
  margin: 0;
  padding: 0;
}
.navlinks {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  float:left;
  border-style: solid;
  border-color: #a3a0cf;
  background-color: #a3a0cf;
  color: white;

}
.navlinks:hover {
  background-color: #8985c1;
  border-color: #8985c1;
}
ul {
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color: #a3a0cf;
  color: white;
  font-family: Georgia, Lora, Merriweather, serif;
}
li {
  float:left;
  font-size:18;
  font-weight:bold;
}
.active {
  background-color:#d1a49f;
  border-color:#d1a49f;
}
img {
  margin-left:20%;
  max-width:70%;
}
h1 {
  margin-left:20%;
  font-family: Verdana, sans-serif;
}
strong {
  font-size:18;
}
span {
  color:#a3a0cf;
  font-weight:bold;
}
.special {
  color:#696969
}
table {
  margin-left:10%;
  margin-right:20%;
  font-family:Chivo,Lato, "Open Sans", sans-serif;
}
th, td {
  padding:5px;
}
th {
  background-color:#99c1d6;
}
th {
  max-width:480px;
  text-align:right;
  padding-right:10px;
  font-size:20;
}
td {
  padding:15px;
}
/* rows and columns code from w3schools https://www.w3schools.com/howto/howto_css_two_columns.asp */
.column1 {
  float: left;
  width: 48%;
  margin-right:2%;
}
.column2 {
  float: left;
  width: 48%;
  margin-left:2%;
}

/* Clear floats after the columns */
.row {
  content: "";
  display: table;
  clear: both;
}
.project1 {
  margin-right:2%;
}
.project2 {
  margin-left:2%;
}
.right {
  margin-left:2%;
}
.portrait {
  max-width:30%;
  margin-left:20%;
  float:left;
}

h1 {
  clear:both;
}
.test {
  float:left;
  margin-left: 10%;
}
.divider2 {
  display:flex;
  width: 30%;
  margin-right:20%;
  float:right;
  background-color:#aaa;
  height:100%;
}
.divider1 {
  
  background-color: black;
  border-radius: 5px;
  margin:auto;
  
}